html, body,
ul, li,
div {
  margin: 0;
  padding: 0;
}
*{
	box-sizing: border-box;
	font-family: sans-serif;

}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/*header konfigurasi*/
.header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 100, 0.6);
  position :fixed;
  z-index: 10;
}
.header-left{
	float: left;
}
.header-right{
	float: right;
	font-family: sans-serif;
	margin-right: -25px;
}
.header-right a {
	line-height: 65px;
	text-decoration: none;
	padding: 0 25px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header-logo{
  float: left;
  color: white;
  font-size: 26px;
  padding: 15px;
	opacity: 0.9;

}
/*end header*/

/*top wrapper backgroudn*/
.top-wrapper {
	top: 0px;
	padding: 180px 0 100px 0;
	background-image: url(https://images.unsplash.com/photo-1555066931-78c471f0d4ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	color: white;
	text-align: center;
	opacity: 0.9;
}
.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper h2 {
  opacity: 0.8;
  font-size: 28px;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.signup {
  background-color: #3b5998;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}
/*end wrapper*/
